<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>FlaskApp</title>
        <!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" href="/static/css/uikit.min.css" />
    </head>
    <body bgcolor="black" data-uk-height-viewport>
        <!--HEADER-->
		<header>
            <div class="uk-padding uk-light uk-text-left uk-text-large uk-inline">
                <p class="text" style="color: white">
                    {% set data = data.split('\n') %}
                    {% for item in data %}
                    {{ item }}
                        {% if not loop.last %}
                         <br/>
                        {% endif %}
                    {% endfor %}
                </p>
                <div class="uk-margin-small">
                    <a href="/" class="uk-button uk-button-primary uk-border-pill uk-button-large">
                        Return
                    </a>
                </div>
            </div>
        </header>
		<!--/HEADER-->

        <!--CONTENT-->
		<section>
			<div style="text-align: center;" class="uk-padding">
				<img src="/static/img/weather_om.svg">
			</div>
		</section>
		<!--/CONTENT-->

        <!-- JS FILES -->
        <script src="/static/js/uikit.min.js"></script>
        <script src="/static/js/uikit-icons.min.js"></script>
    </body>
</html>