<html lang=en>
    <head>
        <title>FlaskApp</title>
        <style>
            .head{
            font-family: "Impact", sans-serif;
            color: white;
            }
        </style>
    </head>
    <body bgcolor=black>
        <h1 class=head>Welcome to PoGoDnIk!</h1>
        <h2 class=head>Enter the city name:</h2>
        <form method=post>
            <dl>
                {{  city_name.city_name  }}
            </dl>
            <p>
                <input type=submit value="Dai mne weather"/>
            </p>
        </form>
    </body>
</html>>
