<html>
<head>
    <title>FlaskApp</title>
    <style>
        .head{
        font-family: "Impact", sans-serif;
        color: white;
        }
        .text{
        font-family: "Comic Sans", sans-serif;
        color: white;
        }
    </style>
</head>
<body bgcolor="black">
    <h1 class="head">Welcome to PoGoDnIk!</h1>
    <p class="text">
    {% set data = data.split('\n') %}
    {% for item in data %}
    {{ item }}
        {% if not loop.last %}
         <br/>
        {% endif %}
    {% endfor %}
    </p>
</body>
</html>>
